@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
 

@theme {
  --font-montserrat: Montserrat, sans-serif;

  --shadow-custom: 0 0 20px rgba(0, 0, 0, 0.35);
  --shadow-right: 10px 0px 20px -5px rgba(0, 0, 0, 0.35);

 
   --background-dark-blue: #1A1A40;
   --buttons-color-purple: #7A0BC0;
   --background-light-blue: #161179;
   --pink-color: #FA58B6

}